@model Keresus.Data.Egitim
@{
    ViewData["Title"] = "Sil";
}
<div class="row">
    <div class="col-md-5">
        <h1>Eğitim Silme</h1>
        <hr />
        <form method="post">
            <div>
                <label>Ad</label>
                <input class="form-control" type="text" value="@Model.EgitimAd" name="EgitimAd" />
            </div>
            <input class="btn btn-outline-danger" type="submit" value="Sil" />
        </form>
    </div>
</div>